td {
    font-size: 120%;
}

input {
    font-size: 100%;
    padding: 10px;
    margin: 5px;
}

.submit {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.submit:hover {
    opacity: 0.7;
}

.submit:active {
    opacity: 0.5;
}

.home {
    margin-left: 10px;
    padding: 5px;
    cursor: pointer;
    color: white;
    font-size: 120%;
}

.home:hover {
    opacity: 0.7;
}

.home:active {
    opacity: 0.5;
}

.file-upload {
    padding: 10px;
    background-color: lightblue;
    display: inline-block;
    border-radius: 10px;
    font-size: 120%;
}

input::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

input::file-selector-button:hover {
    opacity: 0.7;
}

input::file-selector-button:active {
    opacity: 0.5;
}