<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Industrial Predictive Solutions</title>
</head>
<body>
    <div class="navbar">
        <span class="navbar-title">Smart Industrial Predictive Solutions</span>
        <a href="/login" class="nav-link">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <a class="nav-link" href="/profile">Profile</a>
        <a class="nav-link" href="/dashboard">Dashboard</a>
    </div>
    <div class="section1">
        <div class="section1-div1">
            <h1 class="section1-div1-h1">Smart Industrial Predictive Solutions</h1>
            <p class="section1-div1-p"><b>Smart Industrial Predictive Solutions</b> is an ambitious project at the forefront of industrial innovation, leveraging data science and machine learning to revolutionize maintenance practices. By combining advanced data collection methods, comprehensive data analysis, and predictive modeling, the project aims to empower industries with the capability to predict equipment failures, optimize maintenance schedules, and reduce costly downtime. This proactive approach not only enhances operational efficiency and safety but also drives substantial cost savings. Through the seamless integration of technology and industrial expertise, "Smart Industrial Predictive Solutions" aspires to usher in a new era of intelligent, data-driven decision-making, fundamentally transforming how industries manage their machinery and equipment for greater resilience and productivity.</p>
        </div>
    </div>
    <div class="container">
        <a class="link1" href="/machine">
            <div class="box1">
                <span class="container-box1-span">Try Machine Predictive Maintenance</span><p style="text-align: justify;">Machine Predictive Maintenance, also referred to as condition-based maintenance, involves performance monitoring and equipment condition monitoring during regular operations to reduce the chances of a breakdown. Manufacturers began using Machine Predictive Maintenance in the nineties.</p>
            </div>
        </a>
    </div>
    <div class="footer">
        <div>
            <h1>About</h1>
            <p>
                This is Feynn Labs Internship's 3<sup>rd</sup> project.
                This project is <b>AI Product/Service Prototyping for Small Businesses</b>.
                For this project we selected <b>Smart Industrial Predictive Solutions</b>.
            </p>
            <p><a style="color: white;" href="https://github.com/Adhiban1/Smart-Industrial-Predictive-Solutions" target="_blank">Project github link</a></p>
            <h2>Team Members</h2>
            <ul>
                <li><a style="color: white;" href="https://github.com/Adhiban1" target="_blank">Adhiban Siddarth</a></li>
                <li><a style="color: white;" href="https://github.com/Venkatapranay" target="_blank">Karakavalasa venkata pranay</a></li>
                <li><a style="color: white;" href="https://github.com/MalayVyas" target="_blank">Malay Vyas</a></li>
                <li><a style="color: white;" href="https://github.com/ShreyashChacharkar" target="_blank">Shreyash Banduji Chacharkar</a></li>
                <li><a style="color: white;" href="https://github.com/ysmayur1992" target="_blank">Yash Mayur</a></li>
            </ul>
        </div>
    </div>
</body>
</html>

