<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/machine.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="navbar">
        <span class="navbar-title">Smart Industrial Predictive Solutions</span>
        <a href="/" class="home">Home</a>
    </div>
    <center>
        <img width="500px" src="static/dashboard-image.jpg" alt="static/dashboard-image.jpg">
    </center>
</body>
</html>