<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/machine.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Industrial Predictive Solutions</title>
</head>
<body>
    <div class="navbar">
        <span class="navbar-title">Smart Industrial Predictive Solutions</span>
        <a href="/" class="home">Home</a>
    </div>
    <center>
        <h1>Machine Predictive Maintenance</h1>
        <form action="/machine" method="POST" enctype="multipart/form-data">
            <div class="file-upload">
                <input type="file" name="file">
                <input type="submit" class="submit">
            </div>
        </form>
        <p>
            This will analyse only 5 rows of data.
            To get analysis of all rows 
            <a href="/register">Register</a> | <a href="/login">Login</a>
        </p>
    </center>
</body>
</html>