<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/machine.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Industrial Predictive Solutions</title>
</head>
<body>
    <div class="navbar">
        <span class="navbar-title">Smart Industrial Predictive Solutions</span>
        <a href="/" class="nav-link">Home</a><a href="/logout" class="nav-link">Logout</a>
    </div>
    <center>
        <h1>Machine Predictive Maintenance</h1>
        <form action="/profile" method="POST" enctype="multipart/form-data">
            <div class="file-upload">
                <input type="file" name="file">
                <input type="submit" class="submit">
            </div>
        </form>
    </center>
</body>
</html>